.idea
.DS_Store
.ipynb_checkpoints
#Test_Files/
Untitled.ipynb
test_scratch.py

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebooks
Create_list_from_df_col.ipynb
scratch_setup_file_8k_sorting_issue.ipynb

# Environmental vars
.env

# Scratch files
scratch*

# IDE files
script_spr_setup_file/__pycache__/
script_spr_to_adlp_not_8k/__pycache__/
tests/__pycache__/
__pycache__/