.idea
.DS_Store
.ipynb_checkpoints
#Test_Files/
Untitled.ipynb
test_scratch.py

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
