[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
xlrd = "*"
click = "*"
xlsxwriter = "*"
pandas = "*"
pytest-cov = "*"
unittest = "*"

[requires]
python_version = "3.7"
